!!!
%html
	%head
		%link{ rel: 'stylesheet', href: 'css/style.css'}
		%title RATE.IT!
	%body
		%form{method: 'post', role: 'form'}
			%input{type: 'text', name: 'Restaurant Name', class: 'input-box' placeholder: "Write the restaurant's name..."}
			%input{type: 'submit'}
